@charset "UTF-8";
html {
  font-size: 62.5%; }

.contents {
  font-size: 14px;
  font-size: 1.4;
  line-height: 1.5;
  color: #333;
  margin: 56px auto 0;
  max-width: 700px; }

a {
  font-size: 13px; }
  a:link {
    color: #333; }
  a:visited {
    color: #666; }

.l-header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2; }
  .l-header .l-header-menu {
    position: absolute;
    left: 0; }

.l-left {
  float: left; }

.l-right {
  float: right; }

.clearfix::after {
  display: block;
  content: '';
  clear: both; }

.l-bottom-xlarge {
  margin-bottom: 32px !important; }

.l-bottom-large {
  margin-bottom: 24px !important; }

.l-bottom-midium {
  margin-bottom: 20px !important; }

.l-bottom-small {
  margin-bottom: 16px !important; }

.l-bottom-xsmall {
  margin-bottom: 8px !important; }

.l-bottom-xxsmall {
  margin-bottom: 4px !important; }

.l-align-center {
  text-align: center !important; }

.l-align-left {
  text-align: left !important; }

.l-align-right {
  text-align: right !important; }

.full {
  width: 100% !important; }

.btn {
  display: block;
  position: relative;
  padding: 16px 0;
  text-align: center;
  background-color: #ff6726;
  font-size: 16px;
  font-size: 1.6rem;
  color: #fff !important;
  text-decoration: none; }
  .btn::after {
    position: absolute;
    top: 9px;
    right: 10px;
    font-size: 28px !important;
    color: #fff; }

.btn-plain {
  display: block;
  padding: 11px 0;
  text-align: center;
  font-size: 14px;
  font-size: 1.4rem;
  border: solid 1px #ebebeb;
  border-radius: 4px;
  box-shadow: 0 2px #ebebeb;
  color: #333 !important;
  text-decoration: none; }
  .btn-plain::before {
    font-size: 16px !important;
    font-size: 1.6rem !important;
    margin-right: 4px;
    color: #d0d0d0; }

.btn-circle {
  position: absolute;
  right: 16px;
  bottom: -32px;
  display: inline-block;
  width: 64px;
  height: 64px;
  text-align: center;
  line-height: 64px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.15); }
  .btn-circle::before {
    color: #d0d0d0; }

.footer .footer-heading {
  position: relative;
  display: block;
  text-align: center;
  padding: 16px 0;
  font-size: 11px;
  font-size: 1.1rem;
  color: #666;
  text-decoration: none;
  background-color: #f8f7f5; }
  .footer .footer-heading::before {
    content: '';
    display: block;
    position: absolute;
    top: -9px;
    right: 50%;
    -webkit-transform: translateX(18px);
            transform: translateX(18px);
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 18px 15px 18px;
    border-color: transparent transparent #f8f7f5 transparent; }

.footer .footer-nav-container {
  display: flex;
  flex-wrap: wrap; }
  .footer .footer-nav-container .footer-nav, .footer .footer-nav-container .footer-nav-half {
    box-sizing: border-box;
    width: 100%;
    background-color: #e5e5e5;
    border-bottom: solid 1px #fff;
    text-align: center; }
    .footer .footer-nav-container .footer-nav .footer-nav-text, .footer .footer-nav-container .footer-nav-half .footer-nav-text {
      display: block;
      padding: 19px 0;
      font-size: 12px;
      font-size: 1.2rem;
      text-decoration: none; }
  .footer .footer-nav-container .footer-nav-half {
    width: 50%; }
    .footer .footer-nav-container .footer-nav-half:nth-child(odd) {
      border-right: solid 1px #fff; }

.footer .footer-copyright {
  padding: 18px 0;
  font-size: 11px;
  font-size: 1.1rem;
  text-align: center;
  color: #999;
  background-color: #ebebeb; }

.header {
  height: 48px;
  width: 100%;
  background-color: #ff6726; }
  .header .header-icon-container {
    display: block;
    width: 48px;
    height: 48px;
    line-height: 48px;
    text-align: center;
    text-decoration: none; }
  .header .header-menu::after {
    content: '\f0c9';
    color: #fff; }
  .header .header-logo {
    display: block;
    position: absolute;
    top: 10px;
    left: calc(50% - 30px); }
    .header .header-logo img {
      height: 24px; }
  .header .header-history::after {
    color: #fff;
    content: '\f1da'; }
  .header .header-search::after {
    color: #fff;
    content: '\f002'; }

.heading-main {
  position: relative;
  padding: 16px 12px;
  max-width: 100%;
  height: 208px;
  background-image: url(../../../img/main-image.jpg);
  background-size: cover;
  background-position: center;
  　background-repeat: no-repeat;
  -o-object-fit: cover;
     object-fit: cover; }
  .heading-main .heading-main-inner {
    box-sizing: border-box;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 16px 12px 4px;
    width: 100%;
    background: linear-gradient(180deg, transparent 0, rgba(41, 20, 5, 0.7)); }
    .heading-main .heading-main-inner .heading-main-title {
      color: #fff;
      font-size: 18px;
      font-size: 1.8rem;
      font-weight: bold;
      letter-spacing: .1rem; }
    .heading-main .heading-main-inner .heading-main-date {
      color: #ccc;
      font-size: 10px;
      font-size: 1rem; }

.heading-secondary {
  font-size: 1.8rem;
  font-weight: bold;
  line-height: 27px;
  border-bottom: solid 2px #333; }

.heading-tertiary {
  position: relative;
  padding-left: 12px;
  font-size: 1.6rem;
  font-weight: bold;
  line-height: 24px; }

.heading-tertiary::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 4px;
  height: 100%;
  border-radius: 2px;
  background-color: #666; }

.heading-aside {
  background-color: #ebebeb;
  padding: 16px;
  font-size: 1.4rem; }

.heading-aside-ribon {
  position: relative;
  border-top: solid 2px #e84e65; }
  .heading-aside-ribon .heading-aside-ribon-text {
    position: absolute;
    top: -2px;
    right: 4px;
    padding: 0 8px;
    font-size: 10px;
    color: #fff;
    background-color: #e84e65;
    border-radius: 0 0 2px 2px; }

.header .header-menu::after, .header .header-history::after, .header .header-search::after, .clip-icon::before, .allow-right-icon::after, .label::before, .label::after {
  font-family: "Font Awesome 5 Free";
  font-weight: bold;
  font-size: 20px;
  font-size: 2rem; }

.clip-icon::before {
  content: '\f0c6'; }

.allow-right-icon::after {
  content: '\f105'; }

.icotto-line {
  position: relative;
  overflow: hidden;
  padding: 16px 0 200px;
  text-align: center;
  background-color: #f0e9e3;
  font-size: 12px;
  font-size: 1.2rem;
  color: #333; }
  .icotto-line .icotto-line-head {
    font-size: 18px;
    font-size: 1.8rem;
    line-height: 1.2;
    margin-bottom: 12px; }
  .icotto-line .icotto-line-btn {
    display: inline-block;
    margin: 16px 0;
    padding: 12px 10px;
    color: #fff;
    font-size: 14px;
    font-size: 1.4rem;
    border-radius: 2px;
    background-color: #00c300; }
  .icotto-line .icotto-line-img {
    position: absolute;
    right: 50%;
    bottom: -58px;
    -webkit-transform: translateX(50%);
            transform: translateX(50%);
    width: 200px; }

.label {
  display: inline-block;
  margin: 0 8px 8px 0;
  padding: 10px 7px;
  border: solid 1px #ebebeb;
  border-radius: 2px;
  box-shadow: 0 1px #ebebeb; }
  .label .label-text {
    text-decoration: none;
    font-size: 12px;
    font-size: 1.2rem;
    color: #666; }
  .label::before {
    content: '\f3c5';
    color: #d0d0d0;
    font-size: 1.2rem;
    margin-right: 6px; }
  .label::after {
    content: '\f0da';
    color: #d0d0d0;
    font-size: 1.2rem;
    margin-left: 6px; }

.label-area {
  background-color: #ebebeb;
  box-shadow: 0 2px #d2d2d2; }
  .label-area::before {
    content: '\f02b'; }

.media {
  display: flex;
  border-bottom: solid 1px #f8f7f5; }
  .media .media-thumbnail-container {
    height: 96px; }
    .media .media-thumbnail-container .media-thumbnail {
      width: 96px;
      height: 96px; }
  .media .media-body {
    padding: 8px 8px 0 12px;
    width: 100%; }
    .media .media-body .media-title {
      font-size: 1.4rem;
      font-weight: bold;
      line-height: 21px; }

a.media {
  text-decoration: none;
  color: #333 !important; }

.ranking-container {
  position: relative; }
  .ranking-container .rankig {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 34px 34px 0 0;
    border-color: transparent #ff6726 transparent transparent; }
    .ranking-container .rankig .ranking-text {
      position: absolute;
      bottom: 0;
      left: -5px;
      width: 34px;
      color: #fff;
      font-size: 13px;
      font-size: 1.3rem;
      text-align: right; }
  .ranking-container .ranking-first {
    border-right-color: #c69b45; }
  .ranking-container .ranking-second {
    border-right-color: #a0a3a6; }
  .ranking-container .ranking-third {
    border-right-color: #b27f60; }

.section-container-large, .section-container-medium, .section-container-small {
  border-bottom: dotted 1px #e5e5e5;
  margin-bottom: 32px; }

.section-container-large {
  padding: 0 16px; }

.section-container-medium {
  padding: 0 12px; }

.section-container-small {
  padding: 0 8px; }

.section-container-border-none {
  border: none; }

.text-xlarge {
  font-size: 18px;
  font-size: 1.8rem; }

.text-large {
  font-size: 16px;
  font-size: 1.6rem; }

.text-medium {
  font-size: 1.4rem;
  font-size: 14px; }

.text-small {
  font-size: 12px;
  font-size: 1.2rem; }

.text-xsmall {
  font-size: 10px;
  font-size: 1rem; }

.note-text {
  font-size: 11px;
  font-size: 1.1rem; }

.description-text {
  font-size: 1.3px;
  font-size: 1.3rem;
  color: #666;
  letter-spacing: .05rem; }

.writer {
  display: table;
  padding: 8px 12px; }
  .writer .writer-icon {
    display: table-cell;
    width: 24px;
    height: 24px;
    margin-right: 8px;
    border-radius: 50%; }
  .writer .writer-name {
    display: table-cell;
    vertical-align: middle;
    color: #666;
    font-size: 11px;
    font-size: 1.1rem; }
