@charset "UTF-8";
/*----------------------------------------
  color
-----------------------------------------*/
html {
  font-size: 62.5%; }

.contents {
  font-size: 14px;
  font-size: 1.4;
  line-height: 1.5;
  color: #333;
  margin-top: 56px; }

/*----------------------------------------
  font setting（1rem=10px）
-----------------------------------------*/
.text-xlarge {
  font-size: 18px;
  font-size: 1.8rem; }

.text-large {
  font-size: 16px;
  font-size: 1.6rem; }

.text-medium {
  font-size: 1.4rem;
  font-size: 14px; }

.text-small {
  font-size: 12px;
  font-size: 1.2rem; }

.text-xsmall {
  font-size: 10px;
  font-size: 1rem; }

/*----------------------------------------
  text
-----------------------------------------*/
.note-text {
  font-size: 11px;
  font-size: 1.1rem; }

/*----------------------------------------
  icon
-----------------------------------------*/
.header .header-menu::after, .header .header-history::after, .header .header-search::after {
  font-family: "Font Awesome 5 Free";
  font-weight: bold;
  font-size: 20px;
  font-size: 2rem;
  color: #fff; }

/*----------------------------------------
  layout
-----------------------------------------*/
.l-left {
  float: left; }

.l-right {
  float: right; }

.clearfix::after {
  display: block;
  content: '';
  clear: both; }

.l-bottom-xlarge {
  margin-bottom: 32px !important; }

.l-bottom-large {
  margin-bottom: 24px !important; }

.l-bottom-midium {
  margin-bottom: 20px !important; }

.l-bottom-small {
  margin-bottom: 16px !important; }

.l-bottom-xsmall {
  margin-bottom: 8px !important; }

.l-align-center {
  text-align: center !important; }

.l-align-left {
  text-align: left !important; }

.l-align-right {
  text-align: right !important; }

.full {
  max-width: 100% !important; }

/*----------------------------------------
  section-container
-----------------------------------------*/
.section-container-large, .section-container-medium, .section-container-small {
  border-bottom: dotted 1px #e5e5e5;
  margin-bottom: 32px; }

.section-container-large {
  padding: 0 16px; }

.section-container-medium {
  padding: 0 12px; }

.section-container-small {
  padding: 0 8px; }

.solid-hide {
  border: none; }

.l-header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2; }
  .l-header .l-header-menu {
    position: absolute;
    left: 0; }

.header {
  height: 48px;
  width: 100%;
  background-color: #ff6726; }
  .header .header-icon-container {
    display: block;
    width: 48px;
    height: 48px;
    line-height: 48px;
    text-align: center;
    text-decoration: none; }
  .header .header-menu::after {
    content: '\f0c9'; }
  .header .header-logo {
    display: block;
    position: absolute;
    top: 10px;
    left: calc(50% - 30px); }
    .header .header-logo img {
      height: 24px; }
  .header .header-history::after {
    content: '\f1da'; }
  .header .header-search::after {
    content: '\f002'; }

.btn {
  padding: 10px;
  background-color: #ff6726;
  color: #fff;
  text-align: center; }

.heading-main {
  position: relative;
  padding: 16px 12px;
  max-width: 100%;
  height: 192px;
  background-image: url(../../../img/main-image.jpg);
  background-size: cover;
  background-position: center;
  　background-repeat: no-repeat;
  -o-object-fit: cover;
     object-fit: cover; }
  .heading-main .heading-main-inner {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 16px 12px 4px;
    width: 100%;
    background: linear-gradient(180deg, transparent 0, rgba(41, 20, 5, 0.7)); }
    .heading-main .heading-main-inner .heading-main-title {
      color: #fff;
      font-size: 18px;
      font-size: 1.8rem;
      font-weight: bold; }
    .heading-main .heading-main-inner .heading-main-date {
      color: #ccc;
      font-size: 10px;
      font-size: 1rem; }

.heading-secondary {
  font-size: 1.8rem;
  font-weight: bold;
  line-height: 27px;
  border-bottom: solid 2px #333; }

.heading-tertiary {
  position: relative;
  padding-left: 12px;
  font-size: 1.6rem;
  font-weight: bold;
  line-height: 24px; }

.heading-tertiary::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 4px;
  height: 100%;
  border-radius: 2px;
  background-color: #666; }

.heading-aside {
  background-color: #ebebeb;
  padding: 16px;
  font-size: 1.4rem; }

.top {
  margin-top: 48px; }

.media {
  display: flex;
  border-bottom: solid 1px #f8f7f5; }
  .media .media-thumbnail-container {
    height: 96px; }
    .media .media-thumbnail-container .media-thumbnail {
      width: 96px;
      height: 96px; }
  .media .media-body {
    padding: 8px 8px 0 12px; }
    .media .media-body .media-title {
      font-size: 1.4rem;
      font-weight: bold;
      line-height: 21px; }
