.btn {
  padding: 16px 0;
  text-align: center;
  background-color: $main-color;
  font-size: 16px;
  font-size: 1.6rem;
  color: #fff;
}

.circle-btn {
  position: absolute;
  right: 16px;
  bottom: -32px;
  display: inline-block;
  width: 64px;
  height: 64px;
  text-align: center;
  line-height: 64px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.15);
}

.clip-icon::before {
  @extend %icon;
  content: '\f0c6';
  color: #d0d0d0;
}
