//四角ボタン メインカラー
//角丸ボタン 白ボタン
//丸ボタン

.btn {
  display: block;
  position: relative;
  padding: 16px 0;
  text-align: center;
  background-color: $main-color;
  font-size: 16px;
  font-size: 1.6rem;
  color: #fff !important;
  text-decoration: none;

  &::after {
    position: absolute;
    top: 9px;
    right: 10px;
    font-size: 28px !important;
    color: #fff;
  }
}

.btn-plain {
  display: block;
  padding: 11px 0;
  text-align: center;
  font-size: 14px;
  font-size: 1.4rem;
  border: solid 1px #ebebeb;
  border-radius: 4px;
  box-shadow: 0 2px #ebebeb;
  color: #333!important;
  text-decoration: none;

  //アイコン用クラスを読み込んで、サイズを変更している。
  //アイコン用のクラスだけ作ればplain、circleボタン共に対応できる
  &::before {
    font-size: 16px !important;
    font-size: 1.6rem !important;
    margin-right: 4px;
    color: #d0d0d0;
  }
}

.btn-circle {
  position: absolute;
  right: 16px;
  bottom: -32px;
  display: inline-block;
  width: 64px;
  height: 64px;
  text-align: center;
  line-height: 64px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, .15);

  //アイコンの色
  &::before {
    color: #d0d0d0;
  }
}
