.detail {
  border: solid 1px $border-color;
  border-radius: 2px;
  background-color: #fafafa;

  .detail-header {
    position: relative;
    background-color: #ebebeb;
    height: 40px;

    &::after {
      position: absolute;
      top: 5px;
      left: 12px;
      color: #fff;
      @extend %icon;
      content: '\f0c6';
    }
  }

  .detail-body {
    padding: 8px 8px 12px;
    font-size: 11px;
    font-size: 1.1rem;

    .detail-title {
      margin-bottom: 8px;
      font-size: 16px;
      font-size: 1.6rem;
      color: #666;
      font-weight: bold;
    }

    dl {

      dt {
        color: #999;
        float: left;
        clear: both;
      }

      dd {
        padding-left: 5em;
        margin-bottom: 4px;

        &:last-child {
          margin-bottom: 16px;
        }
      }
    }

    .detail-body-quote {
      text-align: right;
      color: #999;
    }

  }

  .detail-balloon {
    position: relative;
    display: flex;
    padding: 8px 8px;
    background-color: #fff;
    border-top: solid 1px $border-color;

    &:before {
      position: absolute;
      top: -11px;
      left: 20px;
      content: '';
      display: block;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 10px 10px;
      border-color: transparent transparent $border-color;
    }

    &:after {
      position: absolute;
      top: -9px;
      left: 20px;
      content: '';
      display: block;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 10px 10px;
      border-color: transparent transparent #fff;
    }

    .detail-offer {

    }

    .detail-balloon-img {
      width: 44px;
      height: 44px;
    }

    .detail-balloon-body {
      max-width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .detail-balloon-body-head {
      font-size: 11px;
      font-weight: bold;
    }

    .detail-balloon-anchor {
      font-size: 1.3rem;
      font-size: 13px;
    }
  }

  .detail-icon {

    &::before {
      color: #999;
      @extend %icon;
      margin-right: 8px;
      font-size: 1.1rem !important;
      font-size: 11px !important;
    }
  }

  .detail-pin-icon {

    &::before {
      content: '\f3c5';
    }
  }

  .detail-sun-icon {
    &::before {
      content: '\f185';
    }
  }

  .detail-moon-icon {
    &::before {
      content: '\f186';
    }
  }
}

.l-detail-balloon-img {
  margin-right: 10px;
}
