.media {
  display: flex;
  border-bottom: solid 1px #f8f7f5;
  text-decoration: none;
  color: $main-text !important;

   .media-thumbnail {
     width: 96px;
     height: 96px;
   }

  .media-body {
    padding: 8px 8px 0 12px;
    width: 100%;

    .media-body-title {
      font-size: 1.4rem;
      font-weight: bold;
      line-height: 21px;
    }
  }
}
