.monthly-ranking {
  display: block;
  padding: 0 8px;
  text-align: right;
  font-size: 1.2rem;
  font-size: 12px;
  text-decoration: none;

  &::after {
    @extend %icon;
    content: '\f061';
    margin-left: 8px;
    font-size: 1.6rem;
    font-size: 16px;
    color: #d0d0d0;
  }
}
