%section-container {
  margin-bottom: 32px;

  .section-container-border-bottom {
    border-bottom: dotted 1px $border-color;
  }
}

.section-container-large {
  @extend %section-container;
  padding: 0 16px;
}

.section-container-medium {
  @extend %section-container;
  padding: 0 12px;
}

.section-container-small {
  @extend %section-container;
  padding: 0 8px;
}

.border-is-hide {
  border: none;
}
