.share {
  position: relative;
  color: #666;

  &::after {
    position: absolute;
    top: -8px;
    right: 33px;
    display: block;
    opacity: .5;
    @extend %icon;
    content: '\f004';
    font-size: 26px;
    color: #ffc2a8;
    transform: rotate(12deg);

  }
}
