//snsボタン部分のみ
.sns {
  //ul > li > aタグを指定
  li > * {
    display: block;
    text-align: center;
    line-height: 0;
    padding: 10px 0;
    border-radius: 3px;
    text-decoration: none;

    //各種snsアイコンの色を指定
    &.sns-pocket {
      background-color: #ff4157;
      box-shadow: 0 2px #cb3649;
    }

    &.sns-twitter {
      background-color: #55acee;
      box-shadow: 0 2px #4892cb;
    }

    &.sns-facebook {
      background-color: #3b5998;
      box-shadow: 0 2px #324c81;
    }

    &.sns-hatenabookmark {
      background-color: #00a5de;
      box-shadow: 0 2px #008cbd;
    }

    &.sns-line {
      background-color: #00c300;
      box-shadow: 0 2px #0d9a0d;
    }

    .sns-text {
      margin-top: 6px;
      line-height: .9;
      font-size: 9px;
      font-size: 0.9rem;
      color: #fff;
    }
  }
}
