
.text-xlarge {
  font-size: 18px;
  font-size: 1.8rem;
}

.text-large {
  font-size: 16px;
  font-size: 1.6rem;
}

.text-medium {
  font-size: 1.4rem;
  font-size: 14px;
}

.text-small {
  font-size: 12px;
  font-size: 1.2rem;
}

.text-xsmall {
  font-size: 10px;
  font-size: 1rem;
}

.note-text {
  font-size: 11px;
  font-size: 1.1rem;
}

.description-text {
  font-size: 1.3px;
  font-size: 1.3rem;
  color: $sub-text;
}
