.section-foundation {
  margin: 0 12px;

  p {
    font-size: .875rem;
    color: $main-text;
  }
}

.section-foundation-solid {
  &::after {
  border-bottom: solid 1px $border-color;
  }
}

.top {
  margin-top: 48px;
}
