.l-sns {
  display: flex;

  &.l-sns-five {
    li {
      width: 20%;
      margin-right: 2px;
    }
  }

  &.l-sns-four {
    li {
      width: 25%;
      margin-right: 6px;
    }
  }

  &.l-sns-three {
    li {
      width: 33.3%;
      margin-right: 6px;
    }
  }

  li:last-child {
    margin-right: 0;
  }

  &.l-sns-description {
    padding: 0 16px;
    margin: -22px 0 32px;

    & li {
      z-index: 2;
    }
  }
}
