/*----------------------------------------
  color
-----------------------------------------*/
$main-color: #ff6726;

$main-text: #333;
$sub-text: #666;
$other-text: #999;

$border-color: #e5e5e5;
$back-color: #ebebeb;

html {
  //10pxに設定
  font-size: 62.5%;
}

.contents {
  font-size: 14px;
  font-size: 1.4;
  line-height: 1.5;
  color: $main-text;
  margin: 56px auto 0;
  max-width: 700px;
}

/*----------------------------------------
  font setting（1rem=10px）
-----------------------------------------*/
.text-xlarge {
  font-size: 18px;
  font-size: 1.8rem;
}

.text-large {
  font-size: 16px;
  font-size: 1.6rem;
}

.text-medium {
  font-size: 1.4rem;
  font-size: 14px;
}

.text-small {
  font-size: 12px;
  font-size: 1.2rem;
}

.text-xsmall {
  font-size: 10px;
  font-size: 1rem;
}

/*----------------------------------------
  text
-----------------------------------------*/

.note-text {
  font-size: 11px;
  font-size: 1.1rem;
}

.description-text {
  font-size: 1.3px;
  font-size: 1.3rem;
  color: $sub-text;
}

/*----------------------------------------
  icon
-----------------------------------------*/

%icon {
  font-family: "Font Awesome 5 Free";
  font-weight: bold;
  font-size: 20px;
  font-size: 2rem;
  color: #fff;
}

.line-icon {

  &::before {
    margin-right: 20px;
    @extend %icon;
    content: '\f4b0';
    color: #00c300;
  }
}

/*----------------------------------------
  layout
-----------------------------------------*/

.l-left {
  float: left;
}

.l-right {
  float: right;
}

.clearfix::after {
  display: block;
  content: '';
  clear: both;
}

.l-bottom-xlarge {
  margin-bottom: 32px!important;
}

.l-bottom-large {
  margin-bottom: 24px!important;
}

.l-bottom-midium {
  margin-bottom: 20px!important;
}

.l-bottom-small {
  margin-bottom: 16px!important;
}

.l-bottom-xsmall {
  margin-bottom: 8px!important;
}

.l-bottom-xxsmall {
  margin-bottom: 4px!important;
}

.l-align-center {
  text-align: center!important;
}

.l-align-left {
  text-align: left!important;
}

.l-align-right {
  text-align: right!important;
}

.full {
  width: 100%!important;
}


/*----------------------------------------
  section-container
-----------------------------------------*/

%section-container {
  border-bottom: dotted 1px $border-color;
  margin-bottom: 32px;
}

.section-container-large {
  @extend %section-container;
  padding: 0 16px;
}

.section-container-medium {
  @extend %section-container;
  padding: 0 12px;
}

.section-container-small {
  @extend %section-container;
  padding: 0 8px;
}

.section-container-border-none {
  border: none;
}
